---
import Layout from "../layouts/Layout.astro";
import SocialIcons from "../components/SocialIcons.astro";
---

<Layout title="Hayley Lalchand">
  <main class="max-w-7xl mx-auto p-8">
    <section class="mt-16 grid grid-cols-1 md:grid-cols-2 gap-8">
      <div>
        <h2 class="text-4xl font-bold">
          Hi, I'm Hayley, a writer and photographer based in Northeast Ohio.
        </h2>
        <section class="mt-16 space-y-4">
          <p class="text-lg">
            I started writing as part of a passion for science communication, or
            the act of explaining science and research without the use of
            complicated jargon so anyone can understand it. Since then, I've
            expanded my skills to write narrative stories focusing on local
            communities. I've written about agriculture, the environment, Ohio
            businesses, biotech, and biopharma. I've been taking photos for over
            ten years, and I enjoy combining slice-of-life photos with stories.
          </p>
          <p class="text-lg">
            When I'm not writing, I volunteer as a Certified Frog Watcher at
            Stark Parks and as a bat roost monitorer at Cuyahoga Valley National
            Park.
          </p>
        </section>
      </div>
      <div>
        <img
          src="/hayley.webp"
          alt="Hayley holding her camera in front of a scenic view of the Pacific Northwest forest and water"
          class="w-full h-full object-cover"
        />
        <caption
          >Photo credit: <a
            href="https://nylerosenbaum.com"
            target="_blank"
            class="text-blue-500 hover:underline">Nyle Rosenbaum</a
          ></caption
        >
      </div>
    </section>

    <!-- <section class="mt-16">
      <SocialIcons />
    </section> -->
  </main>
</Layout>
