---
import Layout from "../layouts/Layout.astro";
import SocialIcons from "../components/SocialIcons.astro";
---

<Layout title="Hayley Lalchand">
  <main class="max-w-7xl mx-auto p-8">
    <section class="mt-16 grid grid-cols-1 md:grid-cols-2 gap-8">
      <div>
        <h2 class="text-4xl font-bold">
          Hi, I'm Hayley, a writer and photographer based in Northeast Ohio.
        </h2>
      </div>
      <div>
        <img
          src="/hayley.webp"
          alt="Hayley holding her camera in front of a scenic view of the Pacific Northwest forest and water"
          class="w-full h-full object-cover"
        />
        <caption
          >Photo credit: <a
            href="https://nylerosenbaum.com"
            target="_blank"
            class="text-blue-500 hover:underline">Nyle Rosenbaum</a
          ></caption
        >
      </div>
    </section>

    <section class="mt-16 space-y-4">
      <p class="text-lg">
        I've worked with Farm and Dairy, Farm World, BioSpace, and more.
      </p>
    </section>
    <section class="mt-16">
      <SocialIcons />
    </section>
  </main>
</Layout>
