---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hayley Lalchand">
  <main class="max-w-7xl mx-auto p-8">
    <header class="flex justify-between items-center py-8">
      <h1 class="text-3xl font-bold">Hayley Lalchand</h1>
      <nav>
        <ul class="flex space-x-4">
          <li><a href="/" class="text-gray-600 hover:underline">Home</a></li>
          <li>
            <a href="/reporting" class="text-gray-600 hover:underline"
              >Reporting</a
            >
          </li>
          <li>
            <a href="/photography" class="text-gray-600 hover:underline"
              >Photography</a
            >
          </li>
          <li>
            <a href="/contact" class="text-gray-600 hover:underline">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <section class="mt-16 grid grid-cols-1 md:grid-cols-2 gap-8">
      <div>
        <h2 class="text-4xl font-bold">
          Hi, I'm Hayley, a journalist and photographer based in Northeast Ohio.
        </h2>
      </div>
      <div>
        <img
          src="/hayley-lalchand.jpeg"
          alt="Hayley Lalchand"
          class="w-full h-full object-cover"
        />
      </div>
    </section>

    <section class="mt-16 space-y-4">
      <p class="text-lg">
        I've worked with Farm and Dairy, Farm World, BioSpace, and more.
      </p>
    </section>
  </main>
</Layout>
