---
import Layout from "../layouts/Layout.astro";
import ArticleCard from "../components/Card.astro";
import articles from "../data/articles.json";
import { fetchImage } from "../utils/fetchImage";

// Fetch images for articles during build
const articlesWithImages = await Promise.all(
  articles.map(async (article) => {
    const imageUrl = article.image || (await fetchImage(article.link));
    return {
      ...article,
      image: imageUrl,
    };
  })
);
---

<Layout title="Reporting">
  <main class="max-w-7xl mx-auto p-8">
    <header class="mb-8">
      <h1 class="text-3xl font-bold">Reporting</h1>
    </header>

    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        articlesWithImages.map((article) => (
          <ArticleCard
            title={article.title}
            image={article.image}
            link={article.link}
          />
        ))
      }
    </section>
  </main>
</Layout>
