---
interface Props {
  image: string;
}

const { image } = Astro.props;
---

<div class="photography-card">
  <img src={image} alt="Photography" class="w-full h-full object-cover" />
</div>

<style>
  .photography-card {
    display: flex;
    width: 100%;
    height: 100%;
  }
</style>
