---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/global.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-white text-gray-900">
    <header class="flex justify-between items-center py-8">
      <h1 class="text-3xl font-bold">Hayley Lalchand</h1>
      <nav>
        <ul class="flex space-x-4">
          <li><a href="/" class="text-gray-600 hover:underline">Home</a></li>
          <li>
            <a href="/reporting" class="text-gray-600 hover:underline"
              >Reporting</a
            >
          </li>
          <li>
            <a href="/photography" class="text-gray-600 hover:underline"
              >Photography</a
            >
          </li>
          <li>
            <a
              href="mailto:hayleylalchand@gmail.com"
              target="_blank"
              class="text-gray-600 hover:underline">Contact</a
            >
          </li>
          <li>
            <a
              href="https://muckrack.com/hayleyshasteen"
              target="_blank"
              class="text-gray-600 underline"
            >
              Muck Rack
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/hayleylalchand/"
              target="_blank"
              class="text-gray-600 underline">LinkedIn</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <slot />
    <footer class="py-4 text-center text-gray-700">
      <code>&lt;/&gt;</code> with &#9825; by <a
        href="https://github.com/ryanlalchand"
        target="_blank"
        class="text-blue-500 underline">Ryan Lalchand</a
      >
    </footer>
  </body>
</html>
